<header class="app-header">
  <div class="header-content">
    <h1 class="header-title">Hey, it's my test project!</h1>

    <div class="button-group">
      <button *ngIf="!authService.isAuthenticated() && !isLoginPage()" (click)="goToLogin()" class="auth-btn">
        Login
      </button>

      <button *ngIf="authService.isAuthenticated() && !isLoginPage()" (click)="authService.logout()" class="auth-btn">
        Logout
      </button>

      <button (click)="goToAbout()" class="auth-btn">
        About
      </button>
    </div>
  </div>
</header>
